<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>

    <h1> Ben Lerner's Emojification Station </h1>
    <div id="my_camera" style="width:320px; height:240px;"></div>
    <div id="my_result"></div>

    <script src="static/js/webcam.js"></script>
    <!--TODO: take this out of html?-->
    <script language="JavaScript">
      Webcam.attach( '#my_camera' );

      function take_snapshot() {
        Webcam.snap( function(data_uri) {
          <!--console.log(data_uri)-->
            $.post(
              "{{ url_for('index') }}",
              {
                screenshot: data_uri
              },
              function(processed_img, status) {
                document.getElementById('my_result').innerHTML = '<img src="data:image/jpeg;base64,'+processed_img+'"/>';
              }
            );
        } );

      }
    </script>

    <a href="javascript:void(take_snapshot())">Emojify yourself</a>

  </body>
</html>
