<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>

    <div id="my_camera" style="width:320px; height:240px;"></div>
    <div id="my_result"></div>

    <script src="static/js/webcam.js"></script>
    <script language="JavaScript">
      Webcam.attach( '#my_camera' );

      function take_snapshot() {
        Webcam.snap( function(data_uri) {
          <!--document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';-->
          <!--console.log(data_uri)-->
            $.post(
              "http://0.0.0.0:5000/",
              {
                screenshot: data_uri
              },
              function(data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
              }
            );
        } );

      }
    </script>

    <a href="javascript:void(take_snapshot())">Take Snapshot</a>

  </body>
</html>
