<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Emoji Movie Unofficial Promo</title>
    <meta property="og:image" content="https://i.imgur.com/NyeEUMc.jpg">

    <link rel="icon" href="/static/favicon.ico">

    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--webcam javascript-->
    <script src="static/js/webcam.min.js"></script>

    <!--bootstrap-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel=stylesheet href="static/css/custom.css">

  </head>
  <body>

    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-12'>
          <h1 class="text-center">Emojification Station</h1>
        </div>
      </div>
      <div class='row'>
        <div id="live_feed" class='col-md-5'></div>

        <div id="emojify_button" class='col-md-1'>
          <a class="btn btn-primary" href="javascript:void(take_snapshot())">📸</a>
        </div>

        <div id="row">
          <div id="result" class="col-md-5">
            <h2 class="text-center">Click the 📸 to emojify yourself! If you're on your phone make sure that you take the picture from at least arm's length.</h2>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <!--TODO: move this to external JS-->
    <script language="JavaScript">
      Webcam.set({
        width: 600,
        height: 400
      });

      Webcam.attach( '#live_feed' );

      function take_snapshot() {
        Webcam.snap( function(data_uri) {
          $.post(
            "{{ url_for('emojify') }}",
            {
              screenshot: data_uri
            },
            function(processed_img_b64, status) {
              img_src = "data:image/jpeg;base64," + processed_img_b64
              document.getElementById('result').innerHTML = '<img style="float:center" src="'+img_src+'"\>';
            }
          );
        } );
      }
    </script>

  </footer>
</html>
